name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  secrets-trufflehog:
    uses: ./.github/workflows/secret-scan-trufflehog.yml
    secrets:
      DD_URL: ${{ secrets.DD_URL }}
      DD_TOKEN: ${{ secrets.DD_TOKEN }}
      DD_PRODUCT_TYPE_NAME: ${{ secrets.DD_PRODUCT_TYPE_NAME }}
    with:
      DD_PRODUCT_NAME: ${{ github.event.repository.name }}
      DD_ENGAGEMENT_NAME: ci-${{ github.event.repository.name }}

  sca-trivyfs:
    uses: ./.github/workflows/sca-trivyfs.yml
    secrets:
      DD_URL: ${{ secrets.DD_URL }}
      DD_TOKEN: ${{ secrets.DD_TOKEN }}
      DD_PRODUCT_TYPE_NAME: ${{ secrets.DD_PRODUCT_TYPE_NAME }}
    with:
      DD_PRODUCT_NAME: ${{ github.event.repository.name }}
      DD_ENGAGEMENT_NAME: ci-${{ github.event.repository.name }}
    needs: [secrets-trufflehog]

  sca-pip-audit:
    uses: ./.github/workflows/sca-pip-audit.yml
    secrets:
      DD_URL: ${{ secrets.DD_URL }}
      DD_TOKEN: ${{ secrets.DD_TOKEN }}
      DD_PRODUCT_TYPE_NAME: ${{ secrets.DD_PRODUCT_TYPE_NAME }}
    with:
      DD_PRODUCT_NAME: ${{ github.event.repository.name }}
      DD_ENGAGEMENT_NAME: ci-${{ github.event.repository.name }}
      REQUIREMENTS_FILE: dirty-python-app/requirements.txt
      PYTHON_VERSION: "3.12"
    needs: [sca-trivyfs]

  sast-semgrep:
    uses: ./.github/workflows/sast-semgrep.yml
    secrets:
      DD_URL: ${{ secrets.DD_URL }}
      DD_TOKEN: ${{ secrets.DD_TOKEN }}
      DD_PRODUCT_TYPE_NAME: ${{ secrets.DD_PRODUCT_TYPE_NAME }}
    with:
      DD_PRODUCT_NAME: ${{ github.event.repository.name }}
      DD_ENGAGEMENT_NAME: ci-${{ github.event.repository.name }}
      TARGET_PATH: dirty-python-app
      SEMGREP_CONFIG: p/ci
    needs: [sca-pip-audit]

  sast-sonarqube:
    uses: ./.github/workflows/sast-sonarqube.yml
    with:
      SQ_URL: ${{ vars.SQ_URL }}
    secrets:
      SQ_TOKEN: ${{ secrets.SQ_TOKEN }}
    needs: [sast-semgrep]