name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  secrets-trufflehog:
    uses: ./.github/workflows/secret-scan-trufflehog.yml
    secrets: inherit

  # secrets-gitleaks:
  #   uses: ./.github/workflows/secret-scan-gitleaks.yml
  #   secrets: inherit